@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Montserrat';
}
body {
    background-color: #ecf4f4;
}

textarea {
    background-color: transparent;
}

textarea:focus {
    outline: none;
}

.mentionedPerson {
    color: #1DA1F2;
}

pre{
    font-family: 'Montserrat';
   /* word-wrap: break-word; */
    /* overflow: hidden; */
}